GlobalConf/server.cfg
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.BAK
debug_game/*
debug_stats/*


server_stats/*.sdf
server_stats/*.suo
server_stats/*.vcxproj.user
server_stats/*.sdf
server_stats/*.opensdf
server_stats/ipch
server_stats/debug_stats


server_game/*.sdf
server_game/*.suo
server_game/*.vcxproj.user
server_game/*.sdf



vs_2015/.vs/*
vs_2015/ipch/*
vs_2015/sgs.VC.db
vs_2015/sgs.VC.VC.opendb
server_game/x64/*
server_stats/x64/*
